
.brand {
    height: 60px; 
}

header .brand {
    border: 4px solid #227580;
    border-radius: 50%;
}

.delete-button {
  width: 150px;
  height: 50px;
}

@media (max-width: 320px) {
  .delete-button {
    width: 120px;
    height: 50px;
  }

}
