body {
  /* Colors */
  --dark-blue: #2479aa;
  --dark-blue--darken-20:  #1d6188;
  --light-blue: #73bde8;
  --light-blue--lighten-80: #e3f2fa;
  --light-blue--lighten-50: #b9def4;
  --light-blue--lighten-40: #abd7f1;
  --light-neutral: #fcf9f7;
  --dark-neutral: #f2e5da;
  --dark-teal: #133f47;
  --teal: #1c5f6b;
  --light-teal: #bbe6ed;
  --gray: #6f6a67;
  --dark-gray: #43403e;
  --light-gray: #A8A29E;
  
  /* Paddings */
  --page-heading--Padding: 2rem;
  --page-form--Padding: 1.5rem;

  /* Button */
  --button--BorderRadius: 4px;
  --button--FontSize: 14px;
  --button--FontWeight: 700;
  --button--Padding: 7px;
  --button--Cursor: pointer;
  --button--Outline: none;

  --button-default--BackgroundColor: var(--dark-blue);
  --button-default--Color: #fff;
  --button-default--Border: solid 2px var(--dark-blue--darken-20);
  --button-default--hover-BackgroundColor: var(--dark-blue--darken-20);
  
  
  --button-light--BackgroundColor: var(--light-blue--lighten-80);
  --button-light--Color: var(--dark-blue);
  --button-light--Border: solid 2px var(--light-blue--lighten-50);
  --button-light--hover-BackgroundColor: var(--light-blue--lighten-40);
  
  /* Card */
  --card--Border: 2px solid var(--light-blue--lighten-50);

  /* Input */
  --input-label--TextTransform: uppercase;
  --input-label--Color: var(--light-gray);
  --input-label--FontWeight: 400;
  --input-label--FontSize: 0.7rem;

  --input--BackgroundColor: #f1f8fd;
  --input--BorderTop: none;
  --input--BorderBottom: 3px solid #73bde8;
  --input--BorderLeft: none;
  --input--BorderRight: none;
  --input--Padding: 8px 5px;
  --input--Outline: none;
  --input--Width: calc(100% - 10px);
  --input--MarginBottom: 15px;
  --input--FontSize: 14px;

  /* Checkbox */
  --checkbox--Border: 2px solid #73bde8;
  --checkbox--BorderRaduis: 4px;

  --checkbox-checked--Border: 2px solid #2479aa;
  --checkbox-checked--BackgroundColor: #2479aa;

  --checkbox-icon--Size: 15px;
  --checkbox-icon--Content: '\f00c';
  --checkbox-icon--FontSize: 12px;
  --checkbox-icon--Color: white;
  --checkbox-icon--FontWeight: 900;

  --checkbox-label--Color: #4a4039;
}
