html {
  font-size: 10px;
}

body {
  font-family: 'Lato';
  margin: 0;
  height: 100vh;
  font-size: 16px;
  color: var(--darken-neutral);
}

header, .alert {
  margin: 1rem 2rem;
}

#kc-content-wrapper {
  margin: 1rem 2rem 2rem 2rem;
}

.login-page-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--login--BackgroundColor);
  background-image: url('../images/login-bg.png');
  background-size: cover;
  min-height: 100vh;
}

.login-title {
  width: 720px;
  color: #ffffff;
  text-align: center;
}

.login-title #logo {
  margin: 3rem;
  width: 60%;
}

.login-title h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 0;
}

.login-form {
  max-width: 900px;
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.login-form-footer p {
  padding: 3rem 1rem 2rem 1rem;
  margin: 0;
  text-align: center;
  color: var(--darken-neutral);
}

.login-page-header {
  background-color: var(--teal);
  color: #ffffff;
  padding: 3rem 1rem;
  text-align: center;
  font-size: 1.8rem;
}

.login-form-panel {
  background-color: #ffffff;
  flex: 0 1 40rem;
}

#kc-totp-settings {
  color: var(--dark-gray);
}

.alert-error {
  color: var(--dark-gray);
  margin-bottom: 10px;
}

/* Input style */

input#username,
input#password,
input#totp,
input#totpSecret,
input#userLabel,
input#password-new,
input#password-confirm {
  width: var(--input--Width);
  background-color: var(--input--BackgroundColor);
  border-top: var(--input--BorderTop);
  border-bottom: var(--input--BorderBottom);
  border-right: var(--input--BorderRight);
  border-left: var(--input--BorderLeft);
  padding: var(--input--Padding);
  outline: var(--input--Outline);
  margin-bottom: var(--input--MarginBottom);
  font-size: var(--input--FontSize);
}

label[for="username"],
label[for="password"],
label[for="totp"],
label[for="totpSecret"],
label[for="userLabel"],
label[for="password-new"],
label[for="password-confirm"] {
  text-transform: var(--input-label--TextTransform);
  color: var(--input-label--Color);
  font-weight: var(--input-label--FontWeight);
  font-size: var(--input-label--FontSize);
}

form span.required {
  color: var(--input-label--Color);
}

/* Checkbox style */

.checkbox label {
  display: flex;
  flex-direction: row-reverse;
  width: fit-content;
  align-items: center;
}

.checkbox label span.label {
  margin-left: 10px;
  cursor: pointer;
  font-size: 14px;
  color: var(--checkbox-label--Color);
}

.checkbox input[type='checkbox'] {
  display: none;
}

input[type='checkbox'] ~ span.icon {
  display: inline-block;
  width: var(--checkbox-icon--Size);
  height: var(--checkbox-icon--Size);
  border: var(--checkbox--Border);
  border-radius: var(--checkbox--BorderRaduis);
  cursor: pointer;
}

.checkbox label input[type='checkbox']:checked ~ span.icon {
  background-color: var(--checkbox-checked--BackgroundColor);
  border: var(--checkbox-checked--Border);
}

.checkbox label input[type='checkbox']:checked ~ span.icon:after {
  margin-top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Font Awesome 5 Free';
  font-size: var(--checkbox-icon--FontSize);
  content: var(--checkbox-icon--Content);
  color: var(--checkbox-icon--Color);
  font-weight: var(--checkbox-icon--FontWeight);
}

/* Buttons */

input[type='submit'], button {
  cursor: var(--button--Cursor);
  padding: var(--button--Padding);
  font-weight: var(--button--FontWeight);
  font-size: var(--button--FontSize);
  outline: var(--button--Outline);
}

input[type='submit'] {
  width: 150px;
  margin-top: 20px;
  border: var(--button-default--Border);
  border-radius: var(--button--BorderRadius);
  background-color: var(--button-default--BackgroundColor);
  color: var(--button-default--Color);
}

input[type='submit']:hover {
  background-color: var(--button-default--hover-BackgroundColor);
}

#kc-form-buttons {
  display: flex;
  justify-content: center;
}

button#cancelTOTPBtn, #kc-form-buttons button {
  width: 150px;
  margin-top: 20px;
  margin-left: 10px;
  border: var(--button-light--Border);
  border-radius: var(--button--BorderRadius);
  background-color: var(--button-light--BackgroundColor);
  color: var(--button-light--Color);
}

button#cancelTOTPBtn:hover, #kc-form-buttons button:hover {
  background-color: var(--button-light--hover-BackgroundColor);
}

#input-error, #input-error-password, #input-error-password-confirm, #input-error-username {
  display: block;
  color: #F26362;
  font-size: 1.6rem;
  background-color: #feefef;
  border: solid 1px #F26362;
  padding: 1rem;
  text-align: center;
  margin: 2rem -2rem 1rem -2rem;
}
