body {
  font-family: 'Lato';
  margin: 0;
  height: 100vh;
}

.login-page-container {
  height: 100%;
}

/* left panel styles */
.login-form {
  height: 100%;
  display: flex;
}

.login-page-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}

.login-page-header img {
  width: 45px;
}

.login-page-header span {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 26px;
  color: var(--dark-teal);
  padding-top: 5px;
}

.login-form-panel {
  height: calc(100% - 60px);
  min-width: 340px;
  padding: 30px;
  position: relative;
}

#kc-totp-settings {
  color: var(--dark-gray);
}

.alert-error {
  color: var(--dark-gray);
  margin-bottom: 10px;
}

/* input style */
input#username,
input#password,
input#totp,
input#totpSecret,
input#userLabel,
input#password-new,
input#password-confirm {
  width: var(--input--Width);
  background-color: var(--input--BackgroundColor);
  border-top: var(--input--BorderTop);
  border-bottom: var(--input--BorderBottom);
  border-right: var(--input--BorderRight);
  border-left: var(--input--BorderLeft);
  padding: var(--input--Padding);
  outline: var(--input--Outline);
  margin-bottom: var(--input--MarginBottom);
  font-size: var(--input--FontSize);
}

label[for="username"],
label[for="password"],
label[for="totp"],
label[for="totpSecret"],
label[for="userLabel"],
label[for="password-new"],
label[for="password-confirm"] {
  text-transform: var(--input-label--TextTransform);
  color: var(--input-label--Color);
  font-weight: var(--input-label--FontWeight);
  font-size: var(--input-label--FontSize);
}

form span.required {
  color: var(--input-label--Color);
}

/* checkbox style */

.checkbox label {
  display: flex;
  flex-direction: row-reverse;
  width: fit-content;
  align-items: center;
}

.checkbox label span.label {
  margin-left: 10px;
  cursor: pointer;
  font-size: 14px;
  color: var(--checkbox-label--Color);
}

.checkbox input[type='checkbox'] {
  display: none;
}

input[type='checkbox'] ~ span.icon {
  display: inline-block;
  width: var(--checkbox-icon--Size);
  height: var(--checkbox-icon--Size);
  border: var(--checkbox--Border);
  border-radius: var(--checkbox--BorderRaduis);
  cursor: pointer;
}

.checkbox label input[type='checkbox']:checked ~ span.icon {
  background-color: var(--checkbox-checked--BackgroundColor);
  border: var(--checkbox-checked--Border);
}

.checkbox label input[type='checkbox']:checked ~ span.icon:after {
  margin-top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Font Awesome 5 Free';
  font-size: var(--checkbox-icon--FontSize);
  content: var(--checkbox-icon--Content);
  color: var(--checkbox-icon--Color);
  font-weight: var(--checkbox-icon--FontWeight);
}

/* Buttons */

input[type='submit'], button {
  cursor: var(--button--Cursor);
  padding: var(--button--Padding);
  font-weight: var(--button--FontWeight);
  font-size: var(--button--FontSize);
  outline: var(--button--Outline);
}

input[type='submit'] {
  width: 150px;
  margin-top: 20px;
  border: var(--button-default--Border);
  border-radius: var(--button--BorderRadius);
  background-color: var(--button-default--BackgroundColor);
  color: var(--button-default--Color);
}

input[type='submit']:hover {
  background-color: var(--button-default--hover-BackgroundColor);
}

button#cancelTOTPBtn, #kc-form-buttons button {
  width: 150px;
  margin-top: 20px;
  margin-left: 10px;
  border: var(--button-light--Border);
  border-radius: var(--button--BorderRadius);
  background-color: var(--button-light--BackgroundColor);
  color: var(--button-light--Color);
}

button#cancelTOTPBtn:hover, #kc-form-buttons button:hover {
  background-color: var(--button-light--hover-BackgroundColor);
}

#input-error {
  display: block;
  margin-top: 5px;
  color: red;
  font-size: 12px;
}

.powered-label-container {
  position: absolute;
  bottom: 40px;
  right: 40px;
  display: flex;
  align-items: center;
}

.powered-label-container a {
  margin-left: 5px;
}

/* right panel styles */
.right-panel {
  background: 0 / 56px 56px repeat url('../images/background-pattern.svg');
  background-color: #081f23;
  background-position: 10px 10px;
  width: 100%;
}

.about-container {
  width: 260px;
  color: white;
  margin-top: 270px;
  margin-left: 60px;
}

.about-container a {
  display: block;
  margin-top: 20px;
  color: white;
  text-decoration: none;
  font-weight: 700;
}
