body {
  --pf-global--FontFamily--sans-serif: Lato;
  --pf-global--FontFamily--heading--sans-serif: Lato;
  
  --pf-global--BackgroundColor--dark-100: var(--dark-teal);
  
  --pf-c-form--m-horizontal--md__group--GridTemplateColumns: auto;
}

.pf-c-page__main-section.content-wrapper {
  background-color: #fff;
}

#landingReferrerLink {
  color: var(--light-blue);
}


.pf-c-page__main-section.welcome-message-wrapper {
  background-color: var(--light-neutral);
  border-bottom: solid 4px var(--dark-neutral);
  padding: 1rem;
}

.welcome-message-wrapper h1 {
  color: var(--gray);
}

#nav-toggle, #nav-toggle:focus, #nav-toggle::after {
  border: none;
  outline: none;
}

/* Cards */

.pf-l-gallery__item.pf-c-card {
  box-shadow: none;
  background-color: #f1f8fd;
  border: solid 2px #73bde8;
  border-radius: 10px;
}

.pf-l-gallery__item.pf-c-card p {
  color: var(--gray);
}

.pf-l-gallery__item.pf-c-card h2 {
  color: #2479aa;
  font-weight: 700;
}


.pf-l-gallery__item.pf-c-card a {
  color: var(--dark-blue);
}

/* Buttons */

.pf-c-button {
  border-radius: var(--button--BorderRadius);
  font-weight: bold;
}

.pf-c-button.pf-m-primary {
  background-color: var(--button-default--BackgroundColor);
  color: var(--button-default--Color);
  border: var(--button-default--Border);
}

.pf-c-button.pf-m-primary:hover, .pf-c-button.pf-m-primary:focus, .pf-c-button.pf-m-primary:active {
  background-color: var(--button-default--hover-BackgroundColor);
  outline: var(--button--Outline);
}

.pf-c-button.pf-m-secondary {
  background-color: var(--button-light--BackgroundColor);
  color: var(--button-light--Color);
  border: var(--button-light--Border);
}

.pf-c-button.pf-m-secondary::after {
  border: none;
}

.pf-c-button.pf-m-secondary:hover, .pf-c-button.pf-m-secondary:focus, .pf-c-button.pf-m-secondary:active {
  background-color: var(--button-light--hover-BackgroundColor);
  outline: var(--button--Outline);
}

.pf-c-button {
  outline: var(--button--Outline);
}

/* Sidebar */

#page-sidebar {
  box-shadow: none;
  background-color: var(--teal);
}

#page-sidebar .pf-c-nav__item {
  --pf-c-nav__list-link--Color: #fff;
  --pf-c-nav__list-link--focus--Color: var(--light-teal);
  --pf-c-nav__list-link--m-current--after--BackgroundColor: var(--light-teal);
  --pf-c-nav__list-link--hover--after--BackgroundColor: var(--light-teal);
  --pf-c-nav__list-link--focus--after--BackgroundColor: var(--light-teal);
  --pf-c-nav__list-link--active--Color: var(--light-teal);
  --pf-c-nav__list-link--active--after--BackgroundColor: var(--light-teal);
  --pf-c-nav__simple-list-link--Color: #fff;
  --pf-c-nav__simple-list-link--hover--Color: var(--light-teal);
  --pf-c-nav__simple-list-link--hover--BackgroundColor: var(--teal);
  --pf-c-nav__simple-list-link--m-current--Color: var(--dark-teal);
  --pf-c-nav__simple-list-link--m-current--BackgroundColor: #fff; 
  --pf-c-nav__simple-list-link--focus--Color: var(--dark-teal);
  --pf-c-nav__simple-list-link--focus--BackgroundColor: #fff;
  --pf-c-nav__simple-list-link--active--Color: var(--dark-teal);
  --pf-c-nav__simple-list-link--active--BackgroundColor: #fff;
}

#page-sidebar .pf-m-current.pf-c-nav__link, #page-sidebar .pf-c-nav__link:hover {
  --pf-c-nav__list-link--Color: var(--light-teal);
}

#page-sidebar .pf-c-nav__simple-list .pf-c-nav__link.pf-m-current,  
#page-sidebar .pf-c-nav__simple-list .pf-c-nav__link.pf-m-current,
#page-sidebar .pf-c-nav__simple-list .pf-c-nav__link:focus {
  border-left: 3px solid #2F9EB2;
  border-right: 2px solid var(--light-teal);
}

/* Page section */

.pf-c-page__main-section {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: #f9f3ef;
}

.pf-c-page__main-section form {
  background-color: #fff;
}

#page-heading {
  padding: var(--page-heading--Padding);
  background-color: var(--light-neutral);
  color: var(--gray);
  border-bottom: 2px solid #f0e2d6;
}

#page-heading .pf-c-title, #page-heading .pf-l-grid {
  color: var(--gray);
}

.pf-c-page__main-section .pf-c-form {
  padding: var(--page-form--Padding);
}

.pf-l-stack__item {
  padding: 0;
  background-color: white;
  margin: 2rem;
}

.pf-c-data-list__item:not(.pf-m-expanded) {
  border-bottom: solid 1px #e4cab5;
}

#basic-authentication-categ-title, #two-factor-categ-title {
  color: var(--dark-gray);
  border: none;
  padding: 1rem 1rem 0.5rem 1rem;
}

.pf-c-data-list {
  border-top: solid 1px #e4cab5;
}

.pf-c-data-list__item.pf-m-expanded {
  --pf-c-data-list__item--m-expanded--before--BackgroundColor: #2F9EB2;
}

.pf-c-data-list__expandable-content {
  box-shadow: none;
}

.pf-l-gallery.pf-m-gutter {
  margin: 2rem; 
}

/* Form */

.pf-c-form__label {
  --pf-c-form__label--PaddingBottom: 0;
} 

.pf-c-form__label-text {
  text-transform: uppercase;
  color: var(--light-gray);
  font-weight: 400;
  font-size: 0.7rem;
}

.pf-c-form-control, .pf-c-form-control:focus, .pf-c-form-control[aria-invalid="true"] {
  border: none;
  border-bottom: 3px solid #73bde8;
  background-color: #f1f8fd;
}

.pf-c-form-control:focus {
  outline: none;
}

/* Link */

.pf-c-button.pf-m-link {
  color: var(--dark-blue);
}


